[Unit]
Description=CertBot PowerDNS Proxy
After=network.target

[Service]
Type=simple
User=certbotproxy
Group=certbotproxy
WorkingDirectory=/opt/certbot-pdns-proxy/
ExecStart=certbot-pdns-proxy -config=config.yml
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
